<div class="col-md-4 order-md-2 m-auto mb-4">
  <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted mt-4">Boleto: 2ª Via</span>
    <span class="badge badge-secondary badge-pill">3</span>
  </h4>
  <ul class="list-group mb-1">
    <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
        <h6 class="my-0">Nome do produto</h6>
        <small class="text-muted">Loja 1</small>
      </div>
      <span class="text-muted">R$12</span>
    </li>
    <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
        <h6 class="my-0">Segundo produto</h6>
        <small class="text-muted">Loja 2</small>
      </div>
      <span class="text-muted">R$8</span>
    </li>
    <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
        <h6 class="my-0">Terceiro item</h6>
        <small class="text-muted">Loja 3</small>
      </div>
      <span class="text-muted">R$5</span>
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <span>Total (BRL)</span>
      <strong>R$25</strong>
    </li>
  </ul>

  <form class="card col-12 p-2">
    <div class="card col-10 m-auto px-4">
      1515582-51515563-15258488-151578-322
    </div>
    <div class="btn-group col-10 m-auto #myNameElem">
      <button
        (click)="alert()"
        type="submit"
        class="btn rounded btn-primary mt-2 col-2 p-1 m-3"
      >
        Copiar Código
      </button>
      <button
        type="submit"
        class="btn rounded btn-secondary mt-2 col-2 p-1 m-3"
      >
        <a href="../../../assets/fatura.jpg">Gerar 2ª Via</a>
      </button>
    </div>
  </form>
</div>
