.button
  text-decoration: none
  color: #6c757d
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out

  &:hover
    color: #fff

df-messenger
  --df-messenger-button-titlebar-color: #fff
  --df-messenger-button-titlebar-font-color: #6c757d
a
  color: #086e58

  &:hover
    background-color: #8d8e8f
    color: #fff

.letra
  color: #fff

.phonesAccordions__div-phones-points
  flex: 1 1
  height: 1px
  color: #ededed
  border-bottom: 2px dotted
  margin: 0 5px 5px
  min-width: 70px
