@import '../../../SASS/main'

.btn-primary
  @include btn-primary

.btn-secondary
  @include btn-secondary

.btn-info
  @include btn-secondary



df-messenger
  --df-messenger-button-titlebar-color: $text-color-light

  --df-messenger-button-titlebar-color: #fff
  --df-messenger-button-titlebar-font-color: #6c757d
a
  color: $text-color-primary

  &:hover
    background-color: $bg-color-secondary
    color: $text-color-dark


.phonesAccordions__div-phones-points
  flex: 1 1
  height: 1px
  color: #ededed
  border-bottom: 2px dotted
  margin: 0 5px 5px
  min-width: 70px

.carousel
  margin-bottom: 4rem
  position: relative

.text-left
  text-align: left

.text
  font-size: 20px

.row
  --bs-gutter-x: 0

@media (max-width: 719px)
  #img
    display: none

@media (max-width: 1250px)
  .carousel
    display: none
