@import '../../../SASS/main'

.btn-primary
  @include btn-primary

.btn-secondary
  @include btn-secondary

.button
  text-decoration: none
  color: $text-color-light
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out

  &:hover
    color: $terciary-color
    background: transparent

df-messenger
  --df-messenger-button-titlebar-color: $text-color-light

a
  color: $text-color-primary

  &:hover
    background-color: $terciary-color
    color: $text-color-primary

.letra
  color: $text-color-light

.phonesAccordions__div-phones-points
  flex: 1 1
  height: 1px
  color: #ededed
  border-bottom: 2px dotted
  margin: 0 5px 5px
  min-width: 70px
