<section class="row pt-5">
  <!-- Menu navegação do Beneficiário -->
  <div class="col-sm-12 col-md-5 col-lg-3 pt-5">
    <div class="accordion accordion-flush pt-1" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            Hospitais Credenciados
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <p>
              Temos uma ampla rede credenciada de hospitais, centros médicos,
              laboratórios, consultórios médicos e centros diagnósticos para
              atender todos nossos clientes.
            </p>
            <a href="#" class="btn btn-secondary">Saiba Mais</a>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            Procedimentos Cobertos
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <p>
              A lista de procedimentos com cobertura obrigatória varia de acordo
              com o tipo de plano contratado pelo segurado.
            </p>
            <a href="#" class="btn btn-secondary">Saiba Mais</a>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            2ª via de Contrato
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <p>
              Como fazer para solicitar uma segunda via do meu contrato? Se seu
              contrato está em dia, você pode pedir a segunda via aqui em nosso
              site.
            </p>
            <a href="#" class="btn btn-secondary">Saiba Mais</a>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive"
            aria-expanded="false"
            aria-controls="flush-collapseFive"
          >
            Guias e Autorizações
          </button>
        </h2>
        <div
          id="flush-collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingFive"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <p>
              A autorização para exames, internações e serviços específicos pode
              ser solicitada aqui no site.
            </p>
            <a href="#" class="btn btn-secondary">Saiba Mais</a>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSix"
            aria-expanded="false"
            aria-controls="flush-collapseSix"
          >
            Demonstrativos
          </button>
        </h2>
        <div
          id="flush-collapseSix"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingSix"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <p>
              Os demonstrativos de pagamentos do plano de saúde para declaração
              de IR estão disponíveis no site.
            </p>
            <a href="#" class="btn btn-secondary">Saiba Mais</a>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSeven">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSeven"
            aria-expanded="false"
            aria-controls="flush-collapseSeven"
          >
            Alteração de Cadastro
          </button>
        </h2>
        <div
          id="flush-collapseSeven"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingSeven"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <p>Solicitação de atualização dos dados cadastrais.</p>
            <a href="#" class="btn btn-secondary">Saiba Mais</a>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingEight">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseEight"
            aria-expanded="false"
            aria-controls="flush-collapseEight"
          >
            Cadastro de Dependentes
          </button>
        </h2>
        <div
          id="flush-collapseEight"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingEight"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <p>
              Para saber quem pode ser incluído como dependente no seu plano de
              saúde, primeiramente é necessário verificar o contrato
              estabelecido
            </p>
            <a href="#" class="btn btn-secondary">Saiba Mais</a>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingNine">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseNine"
            aria-expanded="false"
            aria-controls="flush-collapseNine"
          >
            Fale Conosco
          </button>
        </h2>
        <div
          id="flush-collapseNine"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingNine"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <p>Urgência, emergência e informações:</p>
            <p>4004 5900</p>
            <p>0800 970 0500</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Imagem e descrição do "Saúde na Tela" -->
  <div class="col-sm-12 col-md-7 col-lg-9">
    <div class="text-center">
      <img
        class="w-auto figure-img img-fluid rounded"
        src="../../../assets/equipemedica.jpg"
        alt=""
      />
      <div class="row py-lg-1">
        <div class="col-lg-12 col-md-8 mx-auto">
          <h2 class="fw-light">Saúde na Tela</h2>
          <p class="lead text-muted">
            Com o Saúde na Tela, você pode ser atendido por psicólogo, clínico
            geral e outros profissionais sem sair de casa.
            <br />
            Além de permitir que você receba prescrição de medicamentos, guia de
            exames ou encaminhamento.
            <br />
            Com comodidade, segurança e a qualidade que você já conhece, direto
            na tela.
          </p>
          <p>
            <a href="#" class="btn btn-primary mx-2">Saiba Mais</a>
            <a href="#" class="btn btn-secondary my-1">Solicitar Atendimento</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Menu de acessos rápidos -->
<section class="pt-5 text-center">
  <h2 class="pb-4 fw-light">Acessos Rápidos</h2>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col col-sm-6 col-md-6 col-lg-3">
          <div class="card shadow-sm">
            <img
              class="img-fluid"
              src="../../../assets/consulta.webp"
              alt="Marcar Consulta"
            />

            <div class="card-body">
              <h5>Marcar Consulta</h5>
              <p class="card-text">Ambulatorial e Hospitalar</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="mx-auto btn-group">
                  <button
                    type="button"
                    class="px-5 btn btn-sm btn-outline-secondary"
                  >
                    Marcar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-sm-6 col-md-6 col-lg-3">
          <div class="card shadow-sm">
            <img
              class="img-fluid"
              src="../../../assets/boleto.jpg"
              alt="Gerar segunda via de boleto"
            />

            <div class="card-body">
              <h5>Boleto: 2ª via</h5>
              <p class="card-text">Boleto Atualizado</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="mx-auto btn-group">
                  <button
                    type="button"
                    class="px-5 btn btn-sm btn-outline-secondary"
                  >
                    Gerar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-sm-6 col-md-6 col-lg-3">
          <div class="card shadow-sm">
            <title>Médicos Credenciados</title>
            <img
              class="img-fluid"
              src="../../../assets/medicoscredenciados.jpg"
              alt="Médicos Credenciados"
            />
            <div class="card-body">
              <h5>Médicos</h5>
              <p class="card-text">Rede Credenciada</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="mx-auto btn-group">
                  <button
                    type="button"
                    class="px-5 btn btn-sm btn-outline-secondary"
                  >
                    <a href="/lista-medicos" class="button">Consultar</a>

                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-sm-6 col-md-6 col-lg-3">
          <div class="card shadow-sm">
            <img
              class="img-fluid"
              src="../../../assets/reemb.jpg"
              alt="Marcar Consulta"
            />

            <div class="card-body">
              <h5>Reembolso</h5>
              <p>Rede Não Credenciada</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="mx-auto btn-group">
                  <button
                    type="button"
                    class="px-5 btn btn-sm btn-outline-secondary"
                  >
                    Marcar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <df-messenger
  intent="WELCOME"
  chat-title="SoulHealt"
  chat-icon="https://i.imgur.com/IdAHYS4.png"
  agent-id="6cac0825-8688-4623-a93a-f44bf5ee352f"
  language-code="pt-br"
></df-messenger>
</section>
