<section class="pt-5">
  <!-- Menu navegação do Beneficiário -->
  <div class="row background mb-5 p-3 col-12 col-lg-12 m-auto pt-3">
    <div id="tabs" #tabs class="px-5 py-2 col-12 col-sm-12 col-md-12 col-lg-12">
      <ul class="flex nav nav-tabs mb-3" id="pills-tab" role="tablist">
        <li class="nav-item col-10 col-sm-6 col-md-6 col-lg-3">
          <a
            class="nav-link active ms-1"
            id="saudenatela-tab"
            data-toggle="pill"
            role="tab"
            aria-selected="false"
            [ngClass]="{ active: activeTab === 'saudenatela' }"
            (click)="handleActiveTab('saudenatela')"
            [routerLink]="['./']"
            fragment="saudenatela"
            >Saúde na Tela</a
          >
        </li>
        <li class="nav-item col-10 col-sm-6 col-md-6 col-lg-3">
          <a
            class="nav-link ms-1"
            id="perfil-tab"
            data-toggle="pill"
            role="tab"
            aria-selected="false"
            [ngClass]="{ active: activeTab === 'perfil' }"
            (click)="handleActiveTab('perfil')"
            [routerLink]="['./']"
            fragment="perfil"
            >Meus Dados</a
          >
        </li>
        <li class="nav-item col-10 col-sm-6 col-md-6 col-lg-3">
          <a
            class="nav-link ms-1"
            id="dependentes-tab"
            data-toggle="pill"
            role="tab"
            aria-selected="false"
            [ngClass]="{ active: activeTab === 'dependentes' }"
            (click)="handleActiveTab('dependentes')"
            [routerLink]="['./']"
            fragment="dependentes"
            >Dependentes</a
          >
        </li>
        <li class="nav-item col-10 col-sm-6 col-md-6 col-lg-3">
          <a
            class="nav-link ms-1"
            id="agendamentos-tab"
            data-toggle="pill"
            role="tab"
            aria-selected="false"
            [ngClass]="{ active: activeTab === 'agendamentos' }"
            (click)="handleActiveTab('agendamentos')"
            [routerLink]="['./']"
            fragment="agendamentos"
            >Meus Agendamentos</a
          >
        </li>
      </ul>
    </div>
    <div class="tab-content" id="pills-tabContent">
      <!-- Imagem e descrição do "Saúde na Tela" -->
      <div
        class="tab-pane col-lg-12 m-auto show"
        id="saudenatela"
        role="tabpanel"
        aria-labelledby="saudenatela-tab"
        [ngClass]="{ active: activeTab === 'saudenatela' }"
      >
        <div class="col-12 col-lg-8 m-auto">
          <div class="text-center">
            <img
              id="img"
              class=" w-auto col-sd-none col-md-none figure-img mt-2 img-fluid rounded"
              src="../../../assets/equipemedica.jpg"
              alt=""
            />
            <div class="py-lg-1">
              <div class="float col-sm-10 col-lg-12 mx-auto">
                <h2 class="fw-light">Saúde na Tela</h2>
                <p class="lead text-muted">
                  Com o Saúde na Tela, você pode ser atendido por qualquer
                  médico profissional, sem sair de casa.
                  <br />
                  Além de permitir que você receba prescrição de medicamentos,
                  guia de exames ou encaminhamento.
                  <br />
                </p>
                <p>
                  <a href="#" class="btn letra btn-primary mx-2">Saiba Mais</a>
                  <a href="#" class="btn letra btn-secondary my-1"
                    >Solicitar Atendimento</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="tab-pane show"
        id="perfil"
        role="tabpanel"
        aria-labelledby="perfil-tab"
        [ngClass]="{ active: activeTab === 'perfil' }"
      >
        <p>
          Lorem ipsum 1, dolor sit amet consectetur adipisicing elit.
          Exercitationem optio ad ex perspiciatis consequatur temporibus. Ab
          explicabo error expedita ut facilis officiis. Doloremque nesciunt
          facere dolor expedita rem sapiente recusandae!
        </p>
      </div>
      <div
        class="tab-pane"
        id="dependentes"
        role="tabpanel"
        aria-labelledby="dependentes-tab"
        [ngClass]="{ active: activeTab === 'dependentes' }"
      >
        <p>
          Lorem, ipsum 2 dolor sit amet consectetur adipisicing elit. Itaque
          eligendi illum, repellat placeat voluptas alias sint voluptate
          necessitatibus sed facilis ea minima deserunt provident eos, similique
          eveniet quas enim commodi.
        </p>
      </div>
      <div
        class="tab-pane"
        id="agendamentos"
        role="tabpanel"
        aria-labelledby="agendamentos-tab"
        [ngClass]="{ active: activeTab === 'agendamentos' }"
      >
        <p>
          Lorem, ipsum 3 dolor sit amet consectetur adipisicing elit. Assumenda
          repellat culpa perspiciatis, quis, reiciendis beatae fugit accusamus
          asperiores cum laudantium magnam numquam fugiat quas ratione sit ab
          pariatur architecto perferendis.
        </p>
        <div class="container marketing"></div>
      </div>
    </div>
  </div>
</section>
<!-- Menu de acessos rápidos -->
<section class="pt-5 text-center">
  <h2 class="pb-4 fw-light">Acessos Rápidos</h2>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col col-sm-6 col-md-6 col-lg-3">
          <div class="card shadow-sm">
            <img
              class="img-fluid"
              src="../../../assets/consulta.webp"
              alt="Marcar Consulta"
            />

            <div class="card-body">
              <h5>Marcar Consulta</h5>
              <p class="card-text">Ambulatorial e Hospitalar</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="mx-auto btn-group">
                  <button
                    type="button"
                    class="px-5 btn btn-sm btn-outline-secondary"
                  >
                    Marcar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-sm-6 col-md-6 col-lg-3">
          <div class="card shadow-sm">
            <img
              class="img-fluid"
              src="../../../assets/boleto.jpg"
              alt="Gerar segunda via de boleto"
            />

            <div class="card-body">
              <h5>Boleto: 2ª via</h5>
              <p class="card-text">Boleto Atualizado</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="mx-auto btn-group">
                  <button
                    type="button"
                    class="px-5 btn btn-sm btn-outline-secondary"
                  >
                    Gerar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-sm-6 col-md-6 col-lg-3">
          <div class="card shadow-sm">
            <title>Médicos Credenciados</title>
            <img
              class="img-fluid"
              src="../../../assets/medicoscredenciados.jpg"
              alt="Médicos Credenciados"
            />
            <div class="card-body">
              <h5>Médicos</h5>
              <p class="card-text">Rede Credenciada</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="mx-auto btn-group">
                  <button
                    type="button"
                    class="px-5 btn btn-sm btn-outline-secondary"
                  >
                    <a href="/lista-medicos" class="button">Consultar</a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-sm-6 col-md-6 col-lg-3">
          <div class="card shadow-sm">
            <img
              class="img-fluid"
              src="../../../assets/reemb.jpg"
              alt="Marcar Consulta"
            />

            <div class="card-body">
              <h5>Reembolso</h5>
              <p>Rede Não Credenciada</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="mx-auto btn-group">
                  <button
                    type="button"
                    class="px-5 btn btn-sm btn-outline-secondary"
                  >
                    Marcar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <df-messenger
    intent="WELCOME"
    chat-title="SoulHealt"
    agent-id="6cac0825-8688-4623-a93a-f44bf5ee352f"
    language-code="pt-br"
  ></df-messenger>
</section>
<!-- Contatos -->
<section>
  <div class="col-10 col-sm-10 col-md-9 col-lg-8 m-auto py-5">
    <div class="accordion accordion-flush py-5" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            Central de Atendimento Beneficiário
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <ul>
              <div class="col-lg-12">
                <li>
                  <p class="m-3">
                    Capitais e Regiões Metropolitanas: 3004-1000
                  </p>
                </li>
                <li>
                  <p class="m-3">Demais Localidades: 0800-706-2363</p>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            SAC - Serviço de Atendimento ao Cliente
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <ul>
              <div class="col-lg-12">
                <li>
                  <p class="m-3">
                    Capitais e Regiões Metropolitanas: 3004-1000
                  </p>
                </li>
                <li>
                  <p class="m-3">Demais Localidades: 0800-706-2363</p>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            Central de Agendamento
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <ul>
              <div class="col-lg-12">
                <li>
                  <p class="m-3">
                    Capitais e Regiões Metropolitanas: 3004-1000
                  </p>
                </li>
                <li>
                  <p class="m-3">Demais Localidades: 0800-706-2363</p>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive"
            aria-expanded="false"
            aria-controls="flush-collapseFive"
          >
            Central de Atendimento ao Corretor
          </button>
        </h2>
        <div
          id="flush-collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingFive"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <ul>
              <div class="col-lg-12">
                <li>
                  <p class="m-3">
                    Capitais e Regiões Metropolitanas: 3004-1000
                  </p>
                </li>
                <li>
                  <p class="m-3">Demais Localidades: 0800-706-2363</p>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSix"
            aria-expanded="false"
            aria-controls="flush-collapseSix"
          >
            Central de Atendimento Gestor PJ
          </button>
        </h2>
        <div
          id="flush-collapseSix"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingSix"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <ul>
              <div class="col-lg-12">
                <li>
                  <p class="m-3">
                    Capitais e Regiões Metropolitanas: 3004-1000
                  </p>
                </li>
                <li>
                  <p class="m-3">Demais Localidades: 0800-706-2363</p>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSeven">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSeven"
            aria-expanded="false"
            aria-controls="flush-collapseSeven"
          >
            Assistência Viagem Nacional e Internacional
          </button>
        </h2>
        <div
          id="flush-collapseSeven"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingSeven"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <ul>
              <div class="col-lg-12">
                <li>
                  <p class="m-3">
                    Capitais e Regiões Metropolitanas: 3004-1000
                  </p>
                </li>
                <li>
                  <p class="m-3">Demais Localidades: 0800-706-2363</p>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <df-messenger
    intent="WELCOME"
    chat-title="SoulHealt"
    chat-icon="https://i.imgur.com/IdAHYS4.png"
    agent-id="6cac0825-8688-4623-a93a-f44bf5ee352f"
    language-code="pt-br"
  ></df-messenger>
</section>
