<main
  role="main"
  class="col-md-10 col-sm-12 col-12 ml-sm-auto col-lg-9 m-auto px-4 pb-5"
>
  <div
    class="chartjs-size-monitor"
    style="
      position: absolute;
      inset: 0px;
      overflow: hidden;
      pointer-events: none;
      visibility: hidden;
      z-index: -1;
    "
  >
    <div
      class="chartjs-size-monitor-expand"
      style="
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden;
        z-index: -1;
      "
    >
      <div
        style="
          position: absolute;
          width: 1000000px;
          height: 1000000px;
          left: 0;
          top: 0;
        "
      ></div>
    </div>
    <div
      class="chartjs-size-monitor-shrink"
      style="
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden;
        z-index: -1;
      "
    >
      <div
        style="position: absolute; width: 200%; height: 200%; left: 0; top: 0"
      ></div>
    </div>
  </div>
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3"
  >
    <input
      class="form-control form-control-dark w-100"
      type="text"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-light">Buscar</button>
  </div>

  <h2 class="py-4 col-12">Médicos Credenciados</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Especialidade</th>
          <th>Local</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Helena Riscado</td>
          <td>Ginecologista</td>
          <td>Santa Catarina</td>
        </tr>
        <tr>
          <td>Vladmir Kandii</td>
          <td>Urologista</td>
          <td>Canela</td>
        </tr>
        <tr>
          <td>Doralice Silva</td>
          <td>Pediatra</td>
          <td>Blumenau</td>
        </tr>
        <tr>
          <td>Rogério do Valle</td>
          <td>Clínico Geral</td>
          <td>Gramado</td>
        </tr>
        <tr>
          <td>Carla Machado</td>
          <td>Cirurgião</td>
          <td>Curitiba</td>
        </tr>
        <tr>
          <td>Silvio Brito</td>
          <td>Nutricionista</td>
          <td>João Pessoa</td>
        </tr>
        <tr>
          <td>Samira Beltram</td>
          <td>Oftalmologia</td>
          <td>Maceió</td>
        </tr>
        <tr>
          <td>Flávio Samir</td>
          <td>Geriatra/td></td>
          <td>Varginha</td>
        </tr>
        <tr>
          <td>Lucia Batista</td>
          <td>Urologista</td>
          <td>Niteroi</td>
        </tr>
        <tr>
          <td>Luiz Cláudio</td>
          <td>Ginecologista</td>
          <td>São Gonçalo</td>
        </tr>
        <tr>
          <td>Alcinéa Rodrigues</td>
          <td>Otorrinolaringologista</td>
          <td>Rio de Janeiro</td>
        </tr>
        <tr>
          <td>José Pinto</td>
          <td>Cirurgião</td>
          <td>São Paulo</td>
        </tr>
        <tr>
          <td>Andressa Leão</td>
          <td>Dermatologista</td>
          <td>Belo Horizonte</td>
        </tr>
        <tr>
          <td>Renata Randrin</td>
          <td>Pediatria</td>
          <td>Tijúca</td>
        </tr>
        <tr>
          <td>Roberto Gomes</td>
          <td>Clínico Geral</td>
          <td>Campos do Jordão</td>
        </tr>
        <tr>
          <td>Manoel Rocha</td>
          <td>Obstetra</td>
          <td>Botafogo</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
