@import '../../../SASS/main'

// Reset
*
  box-sizing: border-box

// Classes

.header-navbar
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  @include container-navbar

  .header-social-media
    ul
      list-style: none
      @include flex-center
      height: 100%
    li
      margin: 0 1.1rem
      a
        color: $text-color
        font-size: 1.2rem
        &:hover
          color: $primary-color

.listCenter
  font-family: $fonte-primary
  a
    color: $text-color
    font-size: 1.1rem
    &:hover
      color: $primary-color

.listRight
  font-family: $fonte-primary
  @include flex-center

.btn-success
  max-width: 200px
  background-color: $text-color
  border: none
  color: #fff
  padding: 0.5rem 1rem
  margin-right: 2rem
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 1rem
  border-radius: 5px

  &:hover
    background-color: $primary-color
    color: #E7FEFC

.navbar
  background: $primary-color
  height: 90px

  i
    color: #E7FEFC
    font-size: 1.2rem
    &:hover
      color: #fff
      text-decoration: none

      padding: 0
  a
    font-family: $fonte-primary
    font-size: 1.1rem
    padding: 0.5rem 1rem
    color: #E7FEFC
    &:hover
      color: #fff
      text-decoration: none

.container-fluid
  padding-left: 0

.offcanvas
  font-family: $fonte-primary

.navbar-toggler .navbar-toggler-icon
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(231,254,252,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")

.offcanvas-body
  background: $offcanvas-color


.navbar-toggler
  border: #E7FEFC solid 1px
  &:focus
    color: #E7FEFC

.fancy-border
  border-top: 90px solid #fff
  border-left: 0px solid transparent
  border-right: 80px solid transparent
  height: 90px
  width: 300px
  position: relative
  .logomd
    width: 200px
    position: absolute
    top: -145px
    left: 30px
  .logosm
    width: 70px
    position: absolute
    top: -75px
    left: 40%



// Media queries

@media (max-width: 871px)
  .listCenter
    display: none

@media (max-width: 500px)
  .fancy-border
    border-top: 90px solid #fff
    border-left: 0px solid transparent
    border-right: 80px solid transparent
    height: 90px
    width: 150px
    position: relative
    .logomd
      width: 200px
      position: absolute
      top: -140px
      left: 30px
    .logosm
      width: 70px
      position: absolute
      top: -75px
      left: 30%
    img
      position: absolute
      top: -65px
      left: 15px

@media (max-width: 991px)
  .offcanvas
    margin-top: -50px


    .offcanvas-body
      margin-top: -50px


