
<div class="header-navbar">
  <div class="header-social-media">
    <ul>
      <li>
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </li>
    </ul>
  </div>
  <!--<div class="listCenter d-none d-sm-none d-md-block d-md-none d-lg-block">-->
  <div class="listCenter ">
    <ul class="nav nav-pills nav-fill" >
      <li class="nav-item">
        <a class="nav-link" href="#"><b> Ligue agora: </b>21 9999-9999</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><b>E-mail: </b>contato@soulhealth.com.br</a>
      </li>
    </ul>
  </div>

  <div class="listRight">
    <ul class="nav nav-pills nav-fill" >
      <ng-container *ngIf="!log.loggedIn(); else loggedIn">
      <li class="nav-item">
        <a routerLink="/login" class="btn btn-success" > <i class="bi bi-person-fill"> </i> Login</a>
      </li>
    </ng-container>
    <ng-template #loggedIn>
      <li class="nav-item">
        <a routerLink="/login" class="btn btn-success" (click)="logoutservice.logout()"> <i class="bi bi-door-open"></i>Logout</a>
      </li>
    </ng-template>


    </ul>
  </div>
</div>


<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div class="fancy-border"> <!--Imagem dentro da forma geométrica-->
        <a class="d-none d-md-flex" href="">
          <img src="../../../assets/logo_esquerda-removebg-preview.png"  alt="Logo" class="logomd">
        </a>
        <a class="d-md-none d-flex" href="">
          <img src="../../../assets/LogoSample_ByTailorBrands222-removebg-preview.png" alt="Logo" class="logosm">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
            <img src="../../../assets/logo_esquerda-removebg-preview.png"  alt="Logo" id="logo-offcanvas">
          </h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
            <li class="nav-item ">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sobre">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Departamentos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contatos</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>










