<!-- Footer -->
<footer class="text-center text-lg-start text-muted ">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-md-end pt-4">
    <!-- Right -->
    <div class="social-media">
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->

  <section class="">
    <div class="container text-center text-md-start mt-4">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa-solid fa-stethoscope"></i> SoulHealth
          </h6>
          <p class="text-justify">
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
          <p><i class="fa-solid fa-location-dot"></i> São Paulo, SP</p>
          <p>
            <i class="fas fa-envelope"></i>
            contato@soulhealth.com.br
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div id="products" class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Produtos
          </h6>
          <p>
            <a href="#!" class="text-reset">
              <i class="fas fa-angles-right me-2"></i>Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset"><i class="fas fa-angles-right me-2"></i>React</a>
          </p>
          <p>
            <a href="#!" class="text-reset"><i class="fas fa-angles-right me-2"></i>Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset"><i class="fas fa-angles-right me-2"></i>Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div id="img" class="col-md-2 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa-solid fa-camera"></i>
            Galeria
          </h6>
          <a href="#">
            <img
              src="https://images.pexels.com/photos/1170979/pexels-photo-1170979.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
              alt="First slide"
              class="img-fluid"
            />
          </a>
          <a href="#">
            <img
              src="https://images.pexels.com/photos/1170979/pexels-photo-1170979.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
              alt="First slide"
              class="img-fluid"
            />
          </a>
          <a href="#">
            <img
              src="https://images.pexels.com/photos/1170979/pexels-photo-1170979.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
              alt="First slide"
              class="img-fluid"
            />
          </a>
          <a href="#">
            <img
              src="https://images.pexels.com/photos/1170979/pexels-photo-1170979.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
              alt="First slide"
              class="img-fluid"
            />
          </a>
          <a href="#">
            <img
              src="https://images.pexels.com/photos/1170979/pexels-photo-1170979.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
              alt="First slide"
              class="img-fluid"
            />
          </a>
          <a href="#">
            <img
              src="https://images.pexels.com/photos/1170979/pexels-photo-1170979.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
              alt="First slide"
              class="img-fluid"
            />
          </a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->

  <div id="copyright" class="text-center p-3">
    <a href="https://soulcodeacademy.org/">SoulHealth </a>
    &copy; 2022 Todos os direitos reservados
  </div>

  <!-- Copyright -->

</footer>
<!-- Footer -->
